{% load mainapp_tags %}
{% load static %}
<ul role="menu" aria-labelledby="dLabel">
	{% for menu_category in menu_categories %}
	    <li><a tabindex="-1" href="{{menu_category.get_absolute_url}}">{{menu_category.name}}</a></li>
		{% if menu_category.children %}
        	{% show_categories menu_category.slug%}
    	{% endif %}
	{% endfor %}
</ul>