{% load mainapp_tags %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>TL GROUP!!!</title>
  </head>
  <body>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">TL GROUP</h1>
          <p class="lead text-muted">Выберите нужный раздел</p>
          <p>
          {% if category.parent != None %}
            <a href="{{category.parent.get_absolute_url}}" class="btn btn-primary my-2">{{category.parent.name}}</a>
          {% endif %}
          {% if cat != None %}
            <a href="{% url 'mainapp:index' %}" class="btn btn-primary my-2">Домашняя страница</a>
          {% endif %}
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="mt-4">
                  {% for category in menu_categories %}
                    {% show_categories %}
                  {% endfor %}
                </div>
              </div>

            </div>
            <div class="col-md-8">
              <div class="row">
                {% for category in categories %}
                  <div class="col-md-3">
                    <div class="card mb-4 box-shadow">
                      <div class="ml-3 mt-3">
                        <h3><a href="{{category.get_absolute_url}}">{{category.name}}</a></h3>
                      </div>
                      <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <span class="badge badge-important">{{category.children.count}} подразделении</span>
                          <small class="text-muted">{{category.user_category.count}} сотрудники</small>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            
              {% if cat != None %}
                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>ФИО</th>
                          <th>Должность</th>
                          <th>Дата приема на работу</th>
                          <th>Размер заработной платы</th>
                          <th>Подразделение</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for person in category.user_category.all %}
                          <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{person.full_name}}</td>
                            <td>{{person.position}}</td>
                            <td>{{person.add_date}}</td>
                            <td>{{person.salary}}</td>
                            <td>{{person.category.get_name}}<br>({{person.category}})</td>
                          </tr>
                        {%empty%}
                          <tr class="text-center">
                            <td colspan="6">В этом отделе нет сотрудников</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              {%endif%}
            </div>            
          </div>
        </div>
      </div>

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>